{{outlet}}
<h1>Tareas</h1>
{{#each model as |task|}}
  <div class="well">
    <h3><strong>{{#link-to 'tasks.edit' task.id}}{{task.title}}{{/link-to}}</strong></h3>
    <p>{{task.description}}</p>
    <h6><em>Realizar tarea antes de :</em>{{format-date task.date}}</h6>
    <button {{action 'deleteTask' task.id}} class='btn btn-danger'>Eliminar</button>
  </div>
{{/each}}
